<configuration>
   <system.webServer>
       <handlers>
           <add name="Python FastAPI" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
       </handlers>
       <httpPlatform processPath="%INTERPRETERPATH%\python.exe"
                    arguments="backend\main.py"
                    stdoutLogEnabled="true"
                    stdoutLogFile="logs\stdout.log"
                    startupTimeLimit="60"
                    processesPerApplication="1"/>
   </system.webServer>
</configuration>